<div class="cards channel-cards">
  <% channels.each do |channel| %>
  <div class="card channel-card">
    <div class="card-image">
      <%= image_tag(channel.image_url_or_placeholder, class: "w-full h-full object-cover") %>
    </div>
    <h3 class="card-title">
      <%= image_tag(channel.favicon_url, size: "16x16") %>
      <%= link_to(channel.title, channel) %>
    </h3>
    <span class="card-description">
      <%= channel.description.to_s[0..64] %><br/>
    </span>
  </div>
  <% end %>
</div>
