<% if logged_in? %>
<div class="channel-form">
  <%= form_tag(channels_path) do %>
    <%= text_field_tag(:url, nil, placeholder: "https://~~~") %>
    <%= submit_tag("Add") %>
  <% end%>
</div>
<% end %>
