<section>
  <h2 class="text-2xl font-bold mt-6 mb-4">Channels</h2>
  <%= paginate(@channels) %>
  <%= render(partial: "channels/cards", locals: { channels: @channels }) %>
  <%= paginate(@channels) %>
</section>
