<section>
  <h2 class="text-2xl font-bold mt-6 mb-4">My Profile</h2>
  <%= form_tag(my_profile_path, method: :put) do |form| %>
    <div class="setting-list">
      <p>Username</p>
      <%= text_field_tag(:name, @user.name) %>
      <div>
        <%= submit_tag("Update") %>
      </div>
    </div>
  <% end %>
</section>
