<section>
  <%= render(partial: "shared/pawprints_header", locals: { title: "Pawprints to Me" }) %>
  <%= paginate(@pawprints) %>
  <%= render(partial: "pawprints/lines", locals: { pawprints: @pawprints }) %>
  <%= paginate(@pawprints) %>
</section>
