<% if logged_in? %>
<nav>
  <input type="checkbox" name="channel-registration-form" id="channel-registration-form" class="channel-registration-form-wrap-input"/>
  <label for="channel-registration-form" class="channel-registration-form-wrap-bg"></label>
  <div class="channel-registration-form-wrap">
    <div class="channel-form">
      <p>Channel Registration Form</p>
      <%= form_tag(channel_preview_path, method: :get) do %>
        <%= text_field_tag(:url, nil, placeholder: "https://~~~") %>
        <%= submit_tag("Add", class: "p-2 border border-slate-500 rounded-sm bg-slate-100 hover:bg-slate-200 cursor-pointer") %>
      <% end%>
    </div>
  </div>
  <label for="channel-registration-form" class="channel-registration-form-button">
    <span class="channel-registration-form-button-mark"></span>
    <span class="channel-registration-form-button-mark"></span>
  </label>
</nav>
<% end %>
