<h1 class="text-2xl font-bold mb-4">Admin</h1>

<ul class="list-disc list-inside space-y-2">
  <li><%= link_to "Join Requests", admin_join_requests_path, class: "text-blue-600 hover:underline" %></li>
  <li><%= link_to "Jobs", admin_jobs_path, class: "text-blue-600 hover:underline" %></li>
  <li><%= link_to "Events (Ahoy)", admin_events_path, class: "text-blue-600 hover:underline" %></li>
  <li><%= link_to "Visits (Ahoy)", admin_visits_path, class: "text-blue-600 hover:underline" %></li>
</ul>
