
<div class="profile">
  <div class="profile-image">
    <%= image_tag(@user.icon_url, size: "128x128") %>
  </div>
  <div class="profile-info">
    <h2><%= "@" + @user.name %></h2>
  </div>
</div>

<% if @owned_channels.exists? %>
<h3>Owned Channels</h3>
<%= render(partial: "channels/cards", locals: { channels: @owned_channels }) %>
<% end %>

<% if @subscribed_channels.exists? %>
<h3>Subscribed Channels</h3>
<%= render(partial: "channels/cards", locals: { channels: @subscribed_channels }) %>
<% end %>
