<%# Pawprints関連ページのヘッダー %>
<div class="flex justify-between items-baseline mb-2">
  <h2 class="mt-[1em] mb-[0.5em] text-2xl font-bold leading-none"><%= title %></h2>
  <nav>
    <ul class="flex space-x-2 whitespace-nowrap">
      <li>
        <%= link_to("All", pawprints_path, class: "text-sm #{current_page?(pawprints_path) ? 'text-[#333333]' : 'text-[#666666] hover:text-[#333333]'}") %>
      </li>
      <li class="text-[#666666] text-sm">/</li>
      <li>
        <%= link_to("My", my_pawprints_path, class: "text-sm #{current_page?(my_pawprints_path) ? 'text-[#333333]' : 'text-[#666666] hover:text-[#333333]'}") %>
      </li>
      <li class="text-[#666666] text-sm">/</li>
      <li class="min-w-fit">
        <%= link_to("To me", my_owned_channels_pawprints_path, class: "text-sm #{current_page?(my_owned_channels_pawprints_path) ? 'text-[#333333]' : 'text-[#666666] hover:text-[#333333]'}") %>
      </li>
    </ul>
  </nav>
</div>
