<section>
  <h2>Recent Items</h2>
  <p>
    <%= link_to("All items", items_path) %>
  </p>
  <%= render(partial: "items/cards", locals: { items: @items, with_channel: true }) %>
</section>

<section>
  <h2>Recent Channels</h2>
  <p>
    <%= link_to("All channels", channels_path) %>
  </p>
  <%= render(partial: "channels/cards", locals: { channels: @channels }) %>
</section>
