<% unless logged_in? %>
<%= render(partial: "layouts/hero", locals: { show_buttons: true }) %>
<% end %>

<section>
  <h2 class="text-2xl font-bold mt-6 mb-4">Recent Channel & Items</h2>
  <div class="w-full flex flex-wrap">
    <%= render(partial: "channels/with3items", collection: @channels, as: :channel) %>
  </div>
</section>
