<% if logged_in? %>
  <% if channel.owned_by?(current_user) %>
    <%= link_to(channel_ownership_path(channel), data: { turbo_method: :delete }, class: "remove-from-my-own") do %>
      <span class="material-symbols-outlined">remove_circle_outline</span>
      Remove from my own
    <% end %>
  <% else %>
    <%= link_to(channel_ownership_path(channel), data: { turbo_method: :post }) do %>
      <span class="material-symbols-outlined">add_circle_outline</span>
      Add to my own
    <% end %>
  <% end %>
<% end %>
