<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>rururuへようこそ！🎉</h1>

    <p>
      こんにちは！<br>
      rururuへのアクセスリクエストが承認されました。
    </p>

    <p>
      以下のリンクからGoogleアカウントでログインしてください：<br>
      <%= link_to @login_url, @login_url %>
    </p>

    <h2>使い方ガイド</h2>
    <ul>
      <li><strong>Channels</strong>: RSSフィードを登録・管理できます</li>
      <li><strong>Items</strong>: 新着記事を閲覧できます</li>
      <li><strong>Pawprints</strong>: お気に入りの記事を保存できます（肉球マーク🐾）</li>
      <li><strong>Channel Groups</strong>: 複数のチャンネルをグループ化して管理できます</li>
    </ul>

    <h2>コミュニティ</h2>
    <p>
      質問や要望がある場合は、Discordサーバーでお気軽にお声がけください：<br>
      （Discord招待リンクは別途お送りします）
    </p>

    <p>
      それでは、rururuでのフィード体験をお楽しみください！
    </p>

    <p>
      rururu開発チーム<br>
      juneboku & sugiwe
    </p>
  </body>
</html>
