<% channel_groups.each do |channel_group| %>
<div class="min-w-[180px] mr-[20px] sm:min-w-[280px]">
  <div class="w-[180px] h-[180px] sm:w-[280px] sm:h-[280px]">
    <% image_urls = channel_group.channel_image_urls_in_today %>
    <% if image_urls.length == 4 %>
      <div class="grid grid-cols-2 gap-0">
        <% image_urls.each do |image_url| %>
          <%= image_tag(image_url, class: "w-full h-full object-cover aspect-square") %>
        <% end %>
      </div>
    <% else %>
      <%= image_tag(channel_group.placeholder_url, class: "w-full h-full object-cover") %>
    <% end %>
  </div>
  <h3 class="card-title">
    <%= link_to(channel_group.name, channel_group) %>
  </h3>
</div>
<% end %>
