<section>
  <h2 class="text-2xl font-bold mt-6 mb-4">Channel Groups</h2>
  <%= link_to("New Channel Group", new_channel_group_path) %>
  <%= paginate(@channel_groups) %>
  <%= render(partial: "channel_groups/cards", locals: { channel_groups: @channel_groups }) %>
  <%= paginate(@channel_groups) %>
</section>
