<section>
  <h2>New Channel Group</h2>
  <%= form_for(@channel_group, url: channel_groups_path) do |form| %>
    <%= form.text_field(:name, placeholder: "Name") %>
    <%= form.submit("Create", class: "p-2 border border-slate-500 rounded-sm bg-slate-100 hover:bg-slate-200 cursor-pointer") %>
  <% end %>
</section>
