<div class="item-modal" data-controller="item-modal" data-action="open-item-modal@window->item-modal#open">
  <div class="item-modal-content">
    <iframe src=""></iframe>
  </div>
  <div class="item-modal-menu">
    <button class="item-modal-menu-button" data-action="click->item-modal#close">
      Close
    </button>
  </div>
</div>
