<section>
  <h2 class="text-2xl font-bold mt-6 mb-4">My Pawprints</h2>
  <%= paginate(@pawprints) %>
  <%= render(partial: "pawprints/lines", locals: { pawprints: @pawprints }) %>
  <%= paginate(@pawprints) %>
</section>
