<%= render(partial: "layouts/hero", locals: { show_buttons: false }) %>
<div class="max-w-(--breakpoint-xl) mx-auto p-0 w-full min-[769px]:w-[calc(100%-20px)] [&>h2]:text-[#3d8bcd] [&_section_h2]:text-black">
  <h2 class="mt-[1em] mb-[0.5em] text-xl font-bold text-blue-600 sm:text-2xl">rururu(仮)について</h2>
  <section class="w-full mb-8 pt-8 pb-8 border-t-4 border-b-4 border-white sm:mb-12 sm:pt-12 sm:pb-12">
    <h2 class="mt-[1em] mb-[0.5em] p-0 text-black text-xl font-bold leading-8 sm:text-2xl">
      個人発信回帰時代の今こそ<br/>
      楽しく使えるフィードリーダー
    </h2>
    <p class="leading-7 sm:leading-8">
      アルゴリズムで作られたおすすめ投稿がタイムラインに並ぶ昨今のSNSへのカウンターとして、<br/>
      拡散を意図しないブログサービスや個人サイトなどでしずかに情報発信をする人が増えています。<br/>
      そこで便利なのがフィードリーダー。フィードリーダーは自分が登録したサイトの更新情報だけが<br/>
      流れてくるので、自動レコメンドに煩わされることなく個人発信の最新情報をキャッチできます。
    </p>
  </section>
  <section class="w-full mb-8 pb-8 border-b-4 border-white sm:mb-12 sm:pb-12">
    <h2 class="mt-[1em] mb-[0.5em] p-0 text-black text-xl font-bold leading-8 sm:text-2xl">
      Slack / Discord / メールで通知。<br/>
      更新情報を見逃しません
    </h2>
    <p class="leading-7 sm:leading-8">
      購読しているフィードの更新情報を、Slack / Discord / メールで定期的にお届けします。<br/>
      気になるサイトの更新を見逃すことはもうありません。
    </p>
  </section>
  <section class="w-full mb-8 pb-8 border-b-4 border-white sm:mb-12 sm:pb-12">
    <h2 class="mt-[1em] mb-[0.5em] p-0 text-black text-xl font-bold leading-8 sm:text-2xl">
      既読チェックやメモを記録できる<br/>
      Pawprint(足あと)機能
    </h2>
    <p class="leading-7 sm:leading-8">
      視聴したコンテンツは「Pawprint(足あと)」をつけることで未読・既読の管理ができます。<br/>
      さらに、Pawprintと併せてメモを残しておくことも可能。心に残ったことやちょっとしたメモを残しておきましょう。
    </p>
  </section>
  <section class="w-full mb-8 pb-8 border-b-4 border-white sm:mb-12 sm:pb-12">
    <h2 class="mt-[1em] mb-[0.5em] p-0 text-black text-xl font-bold leading-8 sm:text-2xl">
      友達の登録フィードやPawprintを知る
    </h2>
    <p class="leading-7 sm:leading-8">
      rururuでは、他の利用者が登録しているフィードやPawprintを見ることもできます。<br/>
      友達がどんなコンテンツを摂取しているのか、どんな感想をメモしているのかもチェックしてみましょう。<br/>
      (※今後、自分のPawprintはフレンド登録した相手にだけ公開するなどの制御を考えています)
    </p>
  </section>
  <section class="w-full mb-8 pb-8 border-b-4 border-white sm:mb-12 sm:pb-12">
    <h2 class="mt-[1em] mb-[0.5em] p-0 text-black text-xl font-bold leading-8 sm:text-2xl">
      開発者について
    </h2>
    <p class="leading-7 sm:leading-8">
      rururuは、<a class="underline" target="_blank" href="https://x.com/juneboku">@juneboku</a>と<a class="underline" target="_blank" href="https://x.com/sugiwe">@sugiwe</a>の2人で開発しております。<br/>
      何かお気づきのことやご要望などがございましたら、いずれかの𝕏アカウントへお声がけください。
    </p>
  </section>
</div>
