<%= render(partial: "layouts/hero", locals: { show_buttons: false }) %>
<div class="about-contents">
  <h2>rururu(仮)について</h2>
  <section>
    <h2>
      個人発信回帰時代の今こそ<br/>
      楽しく使えるフィードリーダー
    </h2>
    <p>
      アルゴリズムで作られたおすすめ投稿がタイムラインに並ぶ昨今のSNSへのカウンターとして、<br/>
      拡散を意図しないブログサービスや個人サイトなどでしずかに情報発信をする人が増えています。<br/>
      そこで便利なのがフィードリーダー。フィードリーダーは自分が登録したサイトの更新情報だけが<br/>
      流れてくるので、自動レコメンドに煩わされることなく個人発信の最新情報をキャッチできます。
    </p>
  </section>
  <section>
    <h2>
      Slack / Discord / メールで通知。<br/>
      更新情報を見逃しません
    </h2>
    <p>
      購読しているフィードの更新情報を、Slack / Discord / メールで定期的にお届けします。<br/>
      気になるサイトの更新を見逃すことはもうありません。
    </p>
  </section>
  <section>
    <h2>
      既読チェックやメモを記録できる<br/>
      Pawprint(足あと)機能
    </h2>
    <p>
      視聴したコンテンツは「Pawprint(足あと)」をつけることで未読・既読の管理ができます。<br/>
      さらに、Pawprintと併せてメモを残しておくことも可能。心に残ったことやちょっとしたメモを残しておきましょう。
    </p>
  </section>
  <section>
    <h2>
      友達の登録フィードやPawprintを知る
    </h2>
    <p>
      rururuでは、他の利用者が登録しているフィードやPawprintを見ることもできます。<br/>
      友達がどんなコンテンツを摂取しているのか、どんな感想をメモしているのかもチェックしてみましょう。<br/>
      (※今後、自分のPawprintはフレンド登録した相手にだけ公開するなどの制御を考えています)
    </p>
  </section>
</div>
