<%= render(partial: "layouts/hero", locals: { show_buttons: false }) %>
<div class="about-contents">
  <h2>rururu について</h2>
  <section>
    <h2>
      個人発信回帰時代の今こそ<br/>
      便利に使える RSS フィードリーダー
    </h2>
    <p>
      アルゴリズムで作られたおすすめ投稿がタイムラインに並ぶ昨今のSNSへのカウンターとして、<br/>
      拡散を意図しないブログサービスや個人サイトなどでしずかに情報発信をする人が増えています。<br/>
      そこで便利なのが RSS フィードリーダー。RSS フィードリーダーは自分が登録したサイトの更新情報だけが<br/>
      流れてくるので、自動レコメンドに煩わされることなく個人発信の最新情報をキャッチできます。
    </p>
  </section>
  <section>
    <h2>
      Slack / Discord / メールで通知。<br/>
      更新情報を見逃しません
    </h2>
    <p>
      自分が登録したフィードの更新情報を、Slack / Discord / メールで定期的に通知することができます。<br/>
      気になるサイトの更新を見逃すことはもうありません。
    </p>
  </section>
  <section>
    <h2>
      既読チェックやメモを記録できる<br/>
      Pawprint（足あと）機能
    </h2>
    <p>
      視聴したコンテンツは 「Pawprint（足あと）」をつけることで未読・既読の管理ができます。<br/>
      さらに、 Pawprint と併せてメモを残しておくことも可能。心に残ったことやちょっとしたメモを残しておきましょう。<br/>
      ※自分の Pawprints は相互フォローしたユーザーに公開されます（フォロー機能は近日実装予定）
    </p>
  </section>
  <section>
    <h2>
      友達の登録フィードや Pawprints を知る
    </h2>
    <p>
      rururu では、他のユーザーが登録しているフィードを見ることも可能です。<br/>
      また、相互フォローした人については お互いの Pawprints を見ることも可能。<br/>
      友達がどんなコンテンツを摂取しているのか、どんな感想をメモしているのかもチェックしてみましょう。
    </p>
  </section>
</div>
