/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Google font Icon */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);

body {
  background-color: #feeeed;
  font-family:
    "Helvetica Neue",
    "Arial",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    sans-serif;
  word-break: break-all;
}

h1 {
  margin: 1em 0 0.5em 20px;
}

@media screen and (max-width: 768px) {
  h1 {
    margin: 1em 0 0.5em;
  }
}

h2, h3 {
  margin: 1em 0 0.5em;
}

ul {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 90%;
  }
}

a {
  color: #111111;
  text-decoration: none;
}

a:hover {
  color: #111111;
  text-decoration: underline;
}

.google-login {
  position: fixed;
  bottom: 70px;
  left: 15px;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 30px;
  box-shadow: 0px 0px 8px -6px #555555;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .google-login {
    box-shadow: 0px 0px 8px -4px #555555;
  }
}

.channel-form {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  background-color: #d9adaa;

  input[type="text"] {
    margin: 0 0 0 25%;
    width: 50%;
  }
}

.flash-messages {
  display: inline-block;
  margin: 1em 0 0;
  padding: 20px;
  background-color: #ffffff;
}

.notice {
  color: #296fa8;
}

.allert {
  color: #cc0f35;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 70px;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0 auto 70px;
    width: calc(100% - 40px);
  }
}

aside {
  position: fixed;
  width: 240px;
}

@media screen and (max-width: 768px) {
  aside {
    position: relative;
    width: 100%;
  }
}

aside nav {
  position: relative;
}

aside nav ul {
  margin: 1em 15px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  aside nav ul {
    margin: 1em 0;
  }
}

aside nav ul li a {
  position: relative;
  display: block;
  margin: 0;
  padding: 0.5em 0 0.5em 2.5em;
}

@media screen and (max-width: 768px) {
  aside nav ul li a {
    font-size: 1.2em;
  }
}

aside nav ul li a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-icon::before {
  position: absolute;
  top: 4px;
  left: 6px;
  font-family: "Material Icons Outlined";
  padding: 0 0 0 0;
  font-size: 1.4em;
  font-weight: 100;
}

.nav-icon-items::before {
  content: "\f009";
}

.nav-icon-channels::before {
  content: "\e851";
}

.nav-icon-reactions::before {
  content: "\f8d7";
}

.nav-icon-users::before {
  content: "\f233";
}

.nav-icon-my-inbox::before {
  content: "\e156";
}

.nav-icon-my-reactions::before {
  content: "\e87d";
}

.nav-icon-my-profile::before {
  content: "\e853";
}

/* Hamburger Menu for Smatrphone */
@media screen and (max-width: 768px) {
  .hamburger-menu-list {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    transform: translateY(-100%);
    transition: 0.3s;
    z-index: 2;
  }

  #hamburger:checked~.hamburger-menu-list {
    transform: translateY(0%);
    transition: 0.3s;
  }
}

.hamburger-menu-input {
  display: none;
}

.hamburger-menu-bg {
  display: none;
}

#hamburger:checked~.hamburger-menu-bg {
  position: fixed;
  top: 0;
  left: -20px;
  display: block;
  width: calc(100% + 40px);
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  z-index: 2;
}

.hamburger-menu-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger-menu-button {
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    gap: 5px;
    appearance: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px -4px #555555;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
  }
}

.hamburger-menu-button-mark {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #000;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  #hamburger:checked~.hamburger-menu-button .hamburger-menu-button-mark:nth-of-type(1) {
    transform: translate(3px, -1px) rotate(45deg);
    transform-origin: 0%;
  }

  #hamburger:checked~.hamburger-menu-button .hamburger-menu-button-mark:nth-of-type(2) {
    opacity: 0;
  }

  #hamburger:checked~.hamburger-menu-button .hamburger-menu-button-mark:nth-of-type(3) {
    transform: translate(3px, 1px) rotate(-45deg);
    transform-origin: 0%;
  }
}

.main {
  width: calc(100% - 240px);
  margin: 0 0 0 240px;
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    margin: 0;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.card {
  position: relative;
  margin: 0 15px 15px 0;

  img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .card:nth-child(2n) {
    margin: 0 0 15px 0;
  }
}

.channel-card {
  width: 210px;

  img {
    height: 210px;
  }
}

.channel-card ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.channel-card ul li {
  margin: 0.5em 1em 0.5em 0;
  padding: 0.3em 0;
  font-size: 0.9em;
  line-height: 1em;
}

.item-card {
  width: 270px;

  img {
    height: 180px;
  }
}

@media screen and (max-width: 768px) {
  .channel-card, .item-card {
    width: calc(50% - 7.5px);

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.card-image {
  line-height: 0;
}

@media screen and (max-width: 768px) {
  .channel-card .card-image {
    height: calc((100vw - 55px) / 2);
  }

  .item-card .card-image {
    height: calc((100vw - 55px) / 3);
  }
}

h3.card-title {
  margin: 0.5em 0 0.3em;
  font-size: 1em;
  line-height: 1.4em;
  font-weight: bold;
}

.card-title, .card-channel {
  img {
    width: 14px;
    height: auto;
  }
}

.card-description, .card-channel, .card-publish {
  display: block;
  margin: 0 0 0.1em;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #555555;
}

.card-channel a {
  color: #555555;
}

img {
  display: inline-block;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2em 0;
}

.profile-image {
  width: 128px;
  height: 128px;
  margin-right: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media screen and (max-width: 768px) {
  .profile-image {
    width: 96px;
    height: 96px;
  }
}

.button-to-unreact {
  text-align: center;
}

.reaction-list li {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px 0.5em 0;
  padding: 0.5em 0em;
  border-top: 1px solid #aaaaaa;
  line-height: 1.5em;
}


@media screen and (max-width: 768px) {
  .reaction-list li {
    margin: 0 0 0.5em 0;
  }
}

.reaction-user {
  width: 24px;
  margin: 0 10px 0 0;

  img {
    object-fit: cover;
    border-radius: 50%;
  }
}

.reaction-info {
  width: 50%;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 768px) {
  .reaction-info {
    width: calc(100% - 34px);
    margin: 0;
  }
}

.reaction-memo {
  width: calc(50% - 54px);
}

@media screen and (max-width: 768px) {
  .reaction-memo {
    width: 100%;
  }
}


.reaction-memo p {
  background-color: #ffffff;
  padding: 0.75em 1em;
}
