/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

textarea {
  field-sizing: content;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 90%;
  }
}

a {
  text-decoration: none;
}

.material-symbols-outlined:not(.material-symbols-outlined-sp-tab) {
  display: flex;
  margin: 0 0.2em 0 0;
}

@media screen and (max-width: 768px) {
  .material-symbols-outlined:not(.material-symbols-outlined-sp-tab) {
    display: block;
  }
}


/* Tab for Smatrphone */
@media screen and (max-width: 768px) {
  .material-symbols-outlined-sp-tab {
    margin: 0;
    padding: 6px 0 0;
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .material-symbols-outlined-sp-tab-paw {
    line-height: 0;
  }

  .material-symbols-outlined-sp-tab img svg {
    fill: #ffffff;
  }
}


/* Channel card image styles - ::before for blur effect */
.channel-card-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: 1;
}

/* Item card image styles - ::before for blur effect */
.item-card-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: 1;
}



img {
  display: inline-block;
}



.pawprint-list li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 1em 0;
  border-top: 1px solid #aaaaaa;
  line-height: 1.5em;
}

.pawprint-item {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 768px) {
  .pawprint-item {
    width: 100%;
    margin: 0 0 0.5em;
  }
}

.pawprint-item-image {
  width: 96px;
  height: 64px;
  margin: 0 10px 0 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pawprint-item-text {
  width: calc(100% - 106px);
  margin: -4px 0 0;
}

.pawprint-item-text h3 {
  margin: 0;
  font-size: 1em;
}

.pawprint-item-text p {
  display: flex;
}

.pawprint-item-text p img {
  margin: 4px 5px 0 0;
  width: 16px;
  height: 16px;
}

.pawprint-paw {
  width: calc(50% - 20px);
}

@media screen and (max-width: 768px) {
  .pawprint-paw {
    width: 100%;
  }
}

.pawprint-user {
  display: flex;
  margin: 0 0 0.5em;

  img {
    margin: 0 10px 0 0;
    object-fit: cover;
    border-radius: 50%;
  }
}

.pawprint-user span {
  margin: 0 0 0 0.25em;
}

.pawprint-memo {
  width: 100%;
  padding: 0.5em 0.75em;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .pawprint-memo {
    margin: 0.5em 0 0 0;
  }
}

.chase-paw {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1em 0 0;
}

.chase-paw-user {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 0.5em;

  img {
    margin: 0 10px 0 0;
    object-fit: cover;
    border-radius: 50%;
  }
}

.chase-paw-form {
  width: 100%;
}

.sub-column .pawprint-info {
  width: calc(100% - 34px);
  margin: 0;
  font-size: 0.9em;
  line-height: 1.5em;

  span {
    display: inline-block;
    margin: 0;
  }
}

.sub-column .pawprint-memo {
  width: 100%;
  font-size: 0.9em;
  line-height: 1.5em;
}

/* Channel profile image container - ::before for blur effect */
.channel-profile-image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: 1;
}

.channel-links li {
  display: flex;
  margin: 0 0 0.25em;
}

.channel-links li .material-symbols-outlined {
  font-size: 22px;
}


.setting-description {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px 0.5em 0;
  padding: 0;
  line-height: 1.5em;

  img {
    width: 40%;
    height: auto;
    margin: 10px 20px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .setting-description {
    margin: 0 0 0.5em;

    img {
      width: 100%;
      height: auto;
      margin: 0 0 1em;
    }
  }
}

.setting-description p {
  margin: 0.5em 0 0.5em;
  padding: 0;
}


.channel-and-items-component {
  min-width: 400px;
  margin: 0;
  padding: 0;
  border-bottom: solid 6px #dddddd;
}

.channel-and-items-component-welcome {
  margin: 0 20px 20px 0;
  border-bottom: none;
}

.channel-and-items-component:last-of-type {
  border-bottom: none;
}

@media screen and (max-width: 1200px) {
  .channel-and-items-component {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .channel-and-items-component {
    min-width: 270px;
  }
}

.channel-and-items-component-unreads {
  width: 100%;
}

.channel-and-items-component-channel a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  transition: 0.25s;
}

.channel-and-items-component-channel a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.channel-and-items-component-channel a span {
  flex: 1;
}

/* Channel component image styles */
.channel-component-image {
  position: relative;
  height: 64px;
  overflow: hidden;
}

.channel-component-image img {
  height: 100%;
  object-fit: contain;
}

.channel-and-items-component-item-list {
  margin: 0.5em 0 0.5em;
}

.channel-and-items-component-item-list li a {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0.75em 10px;
  border-top: 0.5px solid #dddddd;
  line-height: 1.5em;
  transition: 0.25s;
}

@media screen and (max-width: 768px) {
  .channel-and-items-component-channel a {
    padding: 10px 0;
  }

  .channel-and-items-component-item-list li a {
    padding: 1em 0;
  }
}

.channel-and-items-component-item-list li a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.75);
}

/* Unreads List - Removed, migrated to Tailwind CSS */

.channel-and-items-component-item-image {
  position: relative;
  width: 96px;
  height: 64px;
  margin: 0 10px 0 0;
  overflow: hidden;
}

.component-item-image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.component-item-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: 1;
}

.component-item-image img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Item component image styles */
@media screen and (max-width: 1200px) {
  .channel-and-items-component-item-image {
    width: 96px;
    height: 64px;
    margin: 0 10px 0 0;
  }
}

.channel-and-items-component-item-info {
  width: calc(100% - 106px);
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .channel-and-items-component-item-info {
    width: calc(100% - 106px);
    margin: 0;
  }
}

.channel-and-items-component-item-info-unreads {
  width: calc(100% - 126px);
  margin: 0 20px 0 0;
}

@media screen and (max-width: 768px) {
  .channel-and-items-component-item-info-unreads {
    width: calc(100% - 106px);
    margin: 0;
  }
}

.channel-and-items-component-item-player-and-paw {
  width: calc(50% - 20px);
  margin: 0 0 0 20px;
  padding: 0.75em 0;
}

@media screen and (max-width: 768px) {
  .channel-and-items-component-item-player-and-paw {
    width: 100%;
    margin: -0.25em 0 0;
    padding: 0 0 0.75em;
  }
}

.channel-and-items-component-item-paw {
  display: flex;
  width: 100%;
  margin: 0;
}

.channel-and-items-component-item-skip {
  position: relative;
  top: 0px;
  right: 0px;
  width: 58px;
}

.channel-and-items-component-item-skip a {
  display: inline-block !important;
  width: 50px;
  margin: 0 !important;
  padding: 6px 0 !important;
  text-align: center;
  background-color: #999999;
  color: #ffffff;
  border-radius: 2px;
}

.channel-and-items-component-item-skip a:hover {
  background-color: #aaaaaa !important;
}

.channel-and-items-component-item-memo {
  width: calc(100% - 60px);
}

@media screen and (max-width: 1200px) {
  .channel-and-items-component-item-memo {
    width: calc(100% - 58px);
  }
}

.channel-and-items-component-item-memo p {
  background-color: #ffffff;
  padding: 0.75em 1em;
}

.channel-and-items-component-item-skipper {
  padding: 0.75em 10px;
  border-top: 0.5px solid #dddddd;
}

@media screen and (max-width: 768px) {
  .channel-and-items-component-item-skipper {
    padding: 0.75em 0;
  }
}

.channel-and-items-component-item-memo p.button-to-unpaw {
  background-color: inherit;
  text-align: right;
  padding: 0.25em 0 0;
}

@media screen and (max-width: 1200px) {
  .channel-and-items-component-item-memo p.button-to-unpaw {
    padding: 0.25em 5px 0 0;
  }
}

/* Pagination - Removed, migrated to Tailwind CSS */

/* Unreads Nav and Channel Group Tab - Removed, migrated to Tailwind CSS */

/* About */

.preview-notice ul {
  margin: 0 0 0 1.5em;
  padding: 0;
}

.preview-notice ul li {
  list-style: disc;
  margin: 0 0 0.5em;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .preview-notice ul li {
    margin: 0 0 1em;
  }
}

.preview-notice ul li ul {
  margin: 0.5em 0 0 1.5em;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .preview-notice ul li ul li {
    margin: 0 0 0.5em;
    padding: 0;
  }
}

/* Guides - Removed, migrated to Tailwind CSS */
