/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

textarea {
  field-sizing: content;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 90%;
  }
}

a {
  text-decoration: none;
}

.material-symbols-outlined:not(.material-symbols-outlined-sp-tab) {
  display: flex;
  margin: 0 0.2em 0 0;
}

@media screen and (max-width: 768px) {
  .material-symbols-outlined:not(.material-symbols-outlined-sp-tab) {
    display: block;
  }
}


/* Tab for Smatrphone */
@media screen and (max-width: 768px) {
  .material-symbols-outlined-sp-tab {
    margin: 0;
    padding: 6px 0 0;
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .material-symbols-outlined-sp-tab-paw {
    line-height: 0;
  }

  .material-symbols-outlined-sp-tab img svg {
    fill: #ffffff;
  }
}


/* Image blur background - ::before for blur effect */
.image-blur-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: 1;
}

img {
  display: inline-block;
}

.channel-links li {
  display: flex;
  margin: 0 0 0.25em;
}

.channel-links li .material-symbols-outlined {
  font-size: 22px;
}


.setting-description {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px 0.5em 0;
  padding: 0;
  line-height: 1.5em;

  img {
    width: 40%;
    height: auto;
    margin: 10px 20px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .setting-description {
    margin: 0 0 0.5em;

    img {
      width: 100%;
      height: auto;
      margin: 0 0 1em;
    }
  }
}

.setting-description p {
  margin: 0.5em 0 0.5em;
  padding: 0;
}


/* Channel and Items Component - Removed, migrated to Tailwind CSS */

/* Pagination - Removed, migrated to Tailwind CSS */

/* Unreads Nav and Channel Group Tab - Removed, migrated to Tailwind CSS */

/* About */

.preview-notice ul {
  margin: 0 0 0 1.5em;
  padding: 0;
}

.preview-notice ul li {
  list-style: disc;
  margin: 0 0 0.5em;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .preview-notice ul li {
    margin: 0 0 1em;
  }
}

.preview-notice ul li ul {
  margin: 0.5em 0 0 1.5em;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .preview-notice ul li ul li {
    margin: 0 0 0.5em;
    padding: 0;
  }
}

/* Guides - Removed, migrated to Tailwind CSS */
