/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

textarea {
  field-sizing: content;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 90%;
  }
}

.material-symbols-outlined:not(.material-symbols-outlined-sp-tab) {
  display: flex;
  margin: 0 0.2em 0 0;
}

@media screen and (max-width: 768px) {
  .material-symbols-outlined:not(.material-symbols-outlined-sp-tab) {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .material-symbols-outlined-sp-tab {
    margin: 0;
    padding: 6px 0 0;
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .material-symbols-outlined-sp-tab-paw {
    line-height: 0;
  }

  .material-symbols-outlined-sp-tab img svg {
    fill: #ffffff;
  }
}

.image-blur-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: 1;
}

/* 音声プレイヤー表示時にフローティングボタンを上にずらす */
body.audio-player-visible label[for="channel-registration-form"]:last-of-type {
  bottom: calc(20px + 72px); /* 通常の bottom-5 + プレイヤーの高さ */
  transition: bottom 0.2s ease-out;
}

@media screen and (max-width: 768px) {
  body.audio-player-visible label[for="channel-registration-form"]:last-of-type {
    bottom: calc(80px + 64px + 130px); /* モバイルの bottom-20 + ナビ高さ + プレイヤーの高さ */
  }
}
