/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #feeeed;
  word-break: break-all;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 90%;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #feeeed;
  margin: 0;
  padding: 10px 20px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e0e0e0;
  z-index: 2;
}

.google-login {
  position: absolute;
  right: 20px;
}

.channel-form {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  background-color: #d9adaa;
}

.flash-messages {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #ffff;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 69px 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 69px 20px;
    width: calc(100% - 40px);
  }
}

aside {
  width: 240px;
}

@media screen and (max-width: 768px) {
  aside {
    width: 100%;
  }
}

.main {
  width: calc(100% - 240px);
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.card {
  position: relative;
  margin: 0 15px 15px 0;

  img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .card:nth-child(2n) {
    margin: 0 0 15px 0;
  }
}

.channel-card {
  width: 210px;

  img {
    height: 210px;
  }
}

.item-card {
  width: 270px;

  img {
    height: 180px;
  }
}

@media screen and (max-width: 768px) {
  .channel-card, .item-card {
    width: calc(50% - 7.5px);

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.card-image {
  line-height: 0;
}

@media screen and (max-width: 768px) {
  .channel-card .card-image {
    height: calc((100vw - 55px) / 2);
  }
  .item-card .card-image {
    height: calc((100vw - 55px) / 3);
  }
}

.card-title, .card-channel {
  img {
    width: 16px;
    height: auto;
  }
}

form {
  input[type="text"] {
    margin: 0 0 0 25%;
    width: 50%;
  }
}

img {
  display: inline-block;
}
