<li>
  <div class="flex items-center gap-1.5 px-2.5 py-2 text-sm text-gray-700 font-medium">
    <span class="material-symbols-outlined m-0! text-[16px]!">inbox</span>
    <span>Unreads</span>
  </div>
  <ul class="ml-2 mr-2 space-y-0.5">
    <%= render 'layouts/sidebar/submenu_item',
                url: unreads_path,
                label: 'All',
                active: unreads_page_active? %>
    <% current_user.subscription_tags.joins(:subscriptions).distinct.ordered.each do |tag| %>
      <%= render 'layouts/sidebar/submenu_item',
                url: unreads_path(subscription_tag_id: tag.id),
                label: tag.name,
                active: unreads_page_active?(tag_id: tag.id) %>
    <% end %>
    <% current_user.own_and_joined_channel_groups.order(id: :desc).each do |channel_group| %>
      <%= render 'layouts/sidebar/submenu_item',
                url: unreads_path(channel_group_id: channel_group.id),
                label: channel_group.name,
                active: unreads_page_active?(group_id: channel_group.id) %>
    <% end %>
  </ul>
</li>
