<section>
  <h2 class="text-2xl font-bold mt-6 mb-4">Settings</h2>
  <div class="cards setting-cards">
    <div class="card item-card setting-card">
      <%= link_to(my_profile_path) do %>
        <div class="card-image">
          <span class="material-symbols-outlined">badge</span>
        </div>
        <h3 class="card-title">My Profile</h3>
      <% end %>
    </div>
    <div class="card item-card setting-card">
      <%= link_to(my_notification_settings_path) do %>
        <div class="card-image">
          <span class="material-symbols-outlined">notifications_active</span>
        </div>
        <h3 class="card-title">My Notification Settings</h3>
      <% end %>
    </div>
  </div>
</section>

<section class="mt-8">
  <h2 class="text-2xl font-bold text-red-600 mb-4">Danger Zone</h2>
  <div class="cards setting-cards">
    <div class="card item-card setting-card">
      <%= link_to(my_graduation_path) do %>
        <div class="card-image text-red-600">
          <span class="material-symbols-outlined">delete_forever</span>
        </div>
        <h3 class="card-title text-red-600">Delete Account</h3>
      <% end %>
    </div>
  </div>
</section>
