<section>
  <h2>Settings</h2>
  <ul>
    <li><%= link_to("My Profile", my_profile_path) %></li>
    <li><%= link_to("My Notification Webhooks", my_notification_webhooks_path) %></li>
  </ul>
</section>
