<section>
  <h2>Settings</h2>

<div class="cards">

  <div class="card item-card setting-card">
    <%= link_to(my_profile_path) do %>
      <div class="card-image">
        <span class="material-symbols-outlined">badge</span>
      </div>
      <h3 class="card-title">My Profile</h3>
    <% end %>
  </div>
  <div class="card item-card setting-card">
    <%= link_to(my_notification_settings_path) do %>
      <div class="card-image">
        <span class="material-symbols-outlined">notifications_active</span>
      </div>
      <h3 class="card-title">My Notification Settings</h3>
    <% end %>
  </div>

</div>

</section>
