<%= render(partial: "layouts/hero", locals: { show_buttons: false }) %>
<div class="max-w-(--breakpoint-xl) mx-auto p-0 info-contents">
  <h2 class="my-8 text-xl font-bold text-blue-600 sm:my-16 sm:text-2xl">Info</h2>
  <article id="20240508" class="w-full mb-8 pt-8 pb-8 border-t-4 border-b-4 border-white sm:mb-12 sm:pt-12 sm:pb-12">
    <span class="block mb-2">
      2024年5月8日
    </span>
    <h2 class="mt-0 mb-6 p-0 text-black text-xl font-bold leading-8 sm:text-2xl">
      現在、アルファ・テスト期間です。
    </h2>
    <p class="leading-7 sm:leading-8">
      このページに訪れていただき、ありがとうございます。<br>
      正式リリースを目指して開発を進めているrururuは、現在、特定少数の利用者に限定してアルファ・テストを行っています。<br>
      そのため新規の利用登録を受け付けておりません。<br>
      もし、rururuに興味を持っていただけましたら、開発チームのjunebokuかsugiweにお声がけください。<br>
      アルファ・テストの次にベータ・テストを実施することになれば、その際に連絡させていただきます。
    </p>
  </article>
</div>
