<%= render(partial: "layouts/hero", locals: { show_buttons: false }) %>
<div class="info-contents">
  <h2>Info</h2>
  <article id="20240508">
    <span class="info-date">
      2024年5月8日
    </span>
    <h2>
      現在、アルファ・テスト期間です。
    </h2>
    <p>
      このページに訪れていただき、ありがとうございます。<br>
      正式リリースを目指して開発を進めているrururuは、現在、特定少数の利用者に限定してアルファ・テストを行っています。<br>
      そのため新規の利用登録を受け付けておりません。<br>
      もし、rururuに興味を持っていただけましたら、開発チームのjunebokuかsugiweにお声がけください。<br>
      アルファ・テストの次にベータ・テストを実施することになれば、その際に連絡させていただきます。
    </p>
  </article>
</div>
