<% if flash[:notice] %>
<div class="notice" style="padding: 20px; background-color: #eff5fb; color: #296fa8;"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
<div class="alert" style="padding: 20px; background-color: #feecf0; color: #cc0f35;"><%= flash[:alert] %></div>
<% end %>
