<% if flash[:notice] %>
<div class="inline-block w-full mt-4 p-5 bg-white text-[#296fa8]"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
<div class="inline-block w-full mt-4 p-5 bg-white text-[#cc0f35]"><%= flash[:alert] %></div>
<% end %>
