<% if logged_in? %>

<p>
  <%= link_to("Log out", session_path, data: { turbo_method: :delete }) %>
</p>

<% else %>

<script src="https://accounts.google.com/gsi/client" async defer></script>
<div id="g_id_onload"
   data-client_id="<%= Rails.application.credentials.google_auth_app.client_id %>"
   data-login_uri="<%= Rails.application.credentials.google_auth_app.host %>/google_auth_callback"
   data-auto_prompt="false">
</div>
<div class="g_id_signin button p-0"
   data-type="standard"
   data-size="large"
   data-theme="outline"
   data-text="sign_in_with"
   data-shape="rectangular"
   data-logo_alignment="left">
</div>

<% end %>
